@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#contact-details{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 20px;
}

#details{
    margin-top: 100px;
}

.contact-detail{
    color: #1270fc;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}