@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

#contactList{
    width: 300px !important;
    box-shadow: 0 0 2px gray;
    overflow-y: auto;
}

#contactList::-webkit-scrollbar{
    width: 7px;
}
#contactList::-webkit-scrollbar-thumb{
    background: #418af7;
    box-shadow: inset 0 0 3px #002d70;
}
#contactList::-webkit-scrollbar-track{
    box-shadow: inset 0 0 4px #004dc0;
}

.contactBox{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #7499cf;
}

.contactBox:hover{
    background: #a8cbff;
    color: #3874cf;
    cursor: pointer;
}