@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

#contactListContainer{
    width: 300px;
}

#contactList{
    box-shadow: 0 0 2px gray;
    overflow-y: auto;
}

#contactList::-webkit-scrollbar{
    width: 7px;
}
#contactList::-webkit-scrollbar-thumb{
    background: #418af7;
    box-shadow: inset 0 0 3px #002d70;
}
#contactList::-webkit-scrollbar-track{
    box-shadow: inset 0 0 4px #004dc0;
}

.contactBox{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #7499cf;
}

.contactBox:hover{
    background: #a8cbff88;
    color: #4c80ce;
    cursor: pointer;
}

.activeContactBox{
    background: #a8cbff !important;
    color: #3874cf !important;
}

#add-user-icon{
    bottom: 20px;
    margin-right: 20px;
    padding: 9px 12px;
    border-radius: 50%;
    background: #438cf9;
    color: #fff;
    z-index: 10;
    opacity: 0.5;
    transition: all 500ms;
}

#add-user-icon:hover{
    opacity: 1;
    transition: all 500ms;
}

@media(max-width:991px){
    #contactListContainer{
        width: 250px !important;
    }
}

@media(max-width:767px){
    #contactListContainer{
        width: 100% !important;
    }
    #add-user-icon{
        bottom: 70px;
    }
}